<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaao.dao.CheckInfoDao">

    <select id="checkInfo" resultType="java.lang.String">
        SELECT LogName FROM S3ConfigDb.dbo.UserBindingTable WHERE OpenID = #{openID};
    </select>

</mapper>